/*
 * This is a CSS file. CSS is used to change the appearance of elements in
 * an HTML document.
 */

/* This selector matches the element with the id "example".
 * Adding stuff inside the brackets will change the appearance of that element.
 */

td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24pt;
}

#error-message {
  color: #ff0000;
}
